h1  {
    background-color:lightyellow;
    text-align: center;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
body{
    background-color: lightyellow;
}
div  {
    padding: 4px;

    text-align: center;
    font-size: larger;
}